:root {}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.projects{
  margin-top: 50px;
}
.card {
  width: 100%;
  height: 220px;
  padding: 10px 20px;
  
}

.card h1 {
  font-size: 1.8rem;
  font-weight: 400;
}

.card h3 {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.card .github {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 5px;

}

.card .live {
  border-radius: 5px;
  padding: 5px;
  background-color: #9A3B3B;
  color: white;
  padding: 10px 20px;
  margin-left: 20px;

}

.card p{
  margin-top: 15px;
  font-size: 0.7rem;
  font-weight: 400;
}