.section {
  width: 100%;
  height: calc(100vh-8vh);

}

.bio {
  display: flex;
  margin-top: 150px;
}

.profile {
  flex: 1;
  position: relative;

}

.profile .img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid #E2C799;
}

.desc {
  flex: 1;
}

.desc h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

.desc h3 {
  font-size: 1.9em;
  font-weight: 300;
}